@font-face {
    font-family: 'Ycomputer-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ycomputer-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
      font-family: 'Ycomputer-Regular', sans-serif;
      text-align: center;
      background-color: white;
      margin: 0;
      padding: 0;
    }

p {
    line-height: 1.4;
}    

.team-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.team-name {
  margin-right: auto;
}

.total {
  margin-left: auto;
}



.calculator-container {
      width: 300px;
      height: auto;
      margin: auto;
      background-color: #f2f2f2;
      z-index: -10;
      border-radius: 5px;
      padding: 20px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
}

/* 형광펜 */
.highlight-box {
      position: relative;
      display: inline;
}

.highlight-box::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: +2px;
      z-index: -1;
      width: 100%;
      height: 11px; 
      background-color: #a4e4dc; 
}

.text-highlight {
      font-weight: bold;
      position: relative;
      display: inline;
}

.text-highlight::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: +2px;
      z-index: -1;
      width: 100%;
      height: 6px; 
      background-color: #a4e4dc; 
}

h2 {
      text-align: center;
      margin-bottom: 0.2em;
}

input {
      margin-bottom: 15px;
      padding: 12px;
      box-sizing: border-box;
      font-family: 'NanumSquareNeo-Variable', sans-serif;
}


#page-header {
    position: fixed;
    top: 0;
    left: 50%; /* 왼쪽 끝에서 50% 위치로 이동 */
    transform: translateX(-50%); /* 자체의 너비의 50%만큼 왼쪽으로 이동하여 중앙 정렬 */
    width: 100%;
    background-color: #f2f2f2;
    z-index: 1000;
    padding: 10px 20px;
    transition: top 0.3s;
}

#page-header.nav-up {
    top: -60px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    flex-wrap: nowrap; 
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #ff6600; /* 마우스를 올렸을 때의 색상 */
}
