body {
      font-family: 'Song Myung', sans-serif;
      background-color: white;
      margin: 0;
      padding: 0;
    }

    .calculator-container {
      width: 300px;
      height: auto;
      margin: auto;
      background-color: #f2f2f2;
      border-radius: 5px;
      padding: 20px;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
}

    h2 {
      text-align: center;
    }

    label {
      margin-bottom: 5px;
    }

    input {
      margin-bottom: 10px;
      padding: 10px;
      box-sizing: border-box;
      margin-right: 5px; 
    }

    button {
      background-color: #4caf50;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-family: 'Song Myung', sans-serif; 
    }

    button:hover {
      background-color: #45a049;
    }

    #result {
      margin-top: 20px;
      margin-bottom: 20px; /* 추가된 부분 */
      text-align: center;
      line-height: 1.2; /* 줄간격 */
    }

#page-header {
    position: fixed;
    top: 0;
    left: 50%; /* 왼쪽 끝에서 50% 위치로 이동 */
    transform: translateX(-50%); /* 자체의 너비의 50%만큼 왼쪽으로 이동하여 중앙 정렬 */
    width: 100%;
    background-color: #f2f2f2;
    z-index: 1000;
    padding: 10px 20px;
    transition: top 0.3s;
}

#page-header.nav-up {
    top: -60px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px; /* 항목 사이 간격 설정 */
    flex-wrap: nowrap; /* 가로로만 나열하도록 설정 */
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: #ff6600; /* 마우스를 올렸을 때의 색상 */
}


    p {
    text-align: center;
  }
