body {
    font-family: 'Song Myung', cursive;
    text-align: center;
    padding: 50px;
}

.special-box-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

.special-box-table th,
.special-box-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-header-row {
    background-color: #f2f2f2;
}

.special-box-table th.centered,
.special-box-table td.centered {
    text-align: center;
}

.special-box-table td:first-child {
    width: 5%;
}

.special-box-table .special-row td {
    text-align: left;
}

.special-box-table .special-row td.special-grade {
    color: rgba(253, 99, 155, 0.703);
}
