body {
    font-family: 'Song Myung', cursive;
    text-align: center;
    padding: 50px;
}

.css-special-table {
            width: 100%; /* 테이블 전체 너비 조절 */
            margin: 20px auto; /* 가운데 정렬을 위한 margin 추가 */
            border-collapse: collapse;
        }

        .css-special-table th,
        .css-special-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .css-table-head {
            background-color: #f2f2f2;
        }

        .css-special-table th.css-center,
        .css-special-table td.css-center {
            text-align: center;
        }

        .css-special-table td:first-child {
            width: 5%;
        }

        .css-row td {
            text-align: left; /* 특정 행에만 왼쪽 정렬 적용 */
        }

        .css-row td:last-child {
             color: rgba(253, 99, 155, 0.703);
        }

        .css-center {
            text-align: center;
        }

        /* 간단한 스타일링을 위한 CSS */
        /* 간단한 스타일링을 위한 CSS */
        .rectangle-container {
            box-sizing: border-box;
            border: 2px solid gray;
            padding: 20px;
            margin: 20px auto; /* 가로 중앙 정렬을 위해 auto 사용 */
            width: 300px;
            text-align: left; /* 내용은 왼쪽 정렬 */
        }

        #probability-sum,
        #probability-attempts,
        #cost {
            margin-bottom: 10px;
        }


